/*----------------------
   Setup
-----------------------*/
$header-height: 60px;
$logo-height: 40px;
$break-point: 768px;
$margin-logo: ($header-height - $logo-height)/2;


/*----------------------
   Header wrapper
-----------------------*/
.header {
    background-color: $white;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.22);
}


/*----------------------
   Logo
-----------------------*/
.site-logo img {
    float: left;
    width: auto;
    height: $logo-height;
    margin: $margin-logo 0;
}


/*----------------------
   Mobile menu button
-----------------------*/
.menu-btn{
    float: right;
    margin-top: 12px;
    @media only screen and (min-width: $break-point) {
        display: none !important;
    }
}


/*-----------------------
     Mobile menu
-------------------------*/
.site-nav {
    max-height: 0;
    width: 100%;
    transition: max-height .2s ease-in-out;
    overflow: hidden;
    background: white;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    li > a {
        color: $gray;
        font-weight: bold;
        display: block;
        padding: 0.75em;
        white-space: nowrap;
        &:hover {
            text-decoration: none;
            color: $main-color;
        }
    }
    .no-js &,
    .is-menu-on & {
        max-height: 300px;
    }
}


/*-----------------------------
   Navigation desktop layout
------------------------------*/
@media only screen and (min-width: $break-point) {
    .site-nav {
        max-height: none;
        width: auto;
        float: right;
        overflow: visible;

        li {
            display: inline-block;
            text-align: left;
            position: relative;
        }
        li a {
            padding: 0 1em;
            line-height: $header-height;
        }
        li.current-menu-item > a,
        li.current_page_item > a,
        li.current_page_ancestor > a,
        .current-menu-ancestor > a {
            color: $main-color;
        }
    }
}
a.site-logo img {
    width: 67%;
}

/*----------------------
   Sub menu
-----------------------*/
@media only screen and (min-width: $break-point) {
    .site-nav .sub-menu {
        position: absolute;
        z-index: 100;
        right: 0;
        padding: 0;
        background: $light-gray;
    }
    a.site-logo img {
        width: auto;
    }
}


/*----------------------
   Sub menu
-----------------------*/
@media only screen and (min-width: $break-point) {

    .site-nav .menu-item-has-children {
        .sub-menu {
            @include unvisible();
            z-index: 100;
            transition: all 0.3s ease-in-out;
        }
        &:hover .sub-menu {
            @include visible();
        }
    }
}

/*----------------------
    pictures outline
 ----------------------*/

.lekker-galery {

    overflow: hidden;

    .image-block {
        position: relative;
        float: left;
        margin: 5px;
        height: 138px;

    }
}

@media only screen and (min-width: $break-point) {

    .lekker-galery {

        .image-block {
            height: 160px;
        }
    }
}

/*------------------------
 *  Image
 *-----------------------*/
.image-content {

  max-width:500px;
  margin: 0 auto;
  padding: 0;

  .attachment-block {
    position: relative;
    border-radius: 14px;
    width: 100% !important;
    height: 500px;
    max-height: 800px;
    margin: 0 auto !important;
    overflow: hidden;

    &.orientation-tall {
      max-width: 500px;
    }

    &.orientation-wide {

    }
    a img.wide {
      height: auto !important;
    }
    a img.tall {
      width: auto !important;
    }
    ​
    #attachment-rating.rating-red,
    .attachment-controls {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.6);
      text-align: center;
      color: #fff;
      font-weight: 700;
      width: 100%;
      font-size: 3em;
    }

    #attachment-rating.rating-red {
      bottom: 10%;
      font-size: 2em;
      z-index: +1;
    }

    #attachment-rating.rating-red span[class^="rating-star-"] {
      font-size: 0.5em;
    }

    #attachment-rating.rating-red span[class^="rating-star-"]:before {
      content: "\2605";
      /* position: absolute; */
      position: relative;
      font-size: 2em;
      left: 3%;
      color: red;
      z-index: -1;
    }

    .attachment-controls {
      bottom: 5px;
      unicode-bidi: bidi-override;
      direction: rtl;

      .attachment-previous a span,
      .attachment-next a span {
        vertical-align: middle;
        margin-bottom: 0.4em;
        font-size: 1em;
      }
      .attachment-previous {
        float: right;
        padding-right: 20px;
      }
      .attachment-next {
        float: left;
        padding-left: 40px;
      }
      a, a:hover {
        color: #fff;
        font-weight: 700;
      }

    }
  }

  table.rating {
    width: 60%;
    margin: 0 auto;
    border: 0;
  }
}
.attachment-block .attachment-controls div[class^="attachment-star"]:hover:before {
    content: "\2605";
    position: absolute;
}

.attachment-controls > div[class^="attachment-star"]:hover:before,
.attachment-controls > div[class^="attachment-star"]:hover ~ div[class^="attachment-star"]:before {
    content: "\2605";
    position: absolute;
    color: gold;
}

.attachment-block .attachment-controls div.rated-red:before {
    content: "\2605";
    position: absolute;
    color: red;
}
.attachment-block .attachment-controls div[class^="attachment-"] {
    display: inline;
    margin: 0px;
}

.image-decription.l-col-6 {
  border: 1.5px solid #000;
  padding: 13px;
  height:500px;
  border-radius: 14px;
  overflow: hidden;

  table.rating {
    border-spacing:0;
    th, td {
      text-align: left;
      font-size: 1.6em;
      width:49%;
      padding: 0 0 0 14px;
    }
  }

  ul.image-info-block {
    list-style: none;

  }
}